doctype html
html
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1" )
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    
  body
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          a.navbar-brand(href="/") MARKWITHK
        a.navbar-brand(href="/blog/") Blog
        a.navbar-brand(href="/imgbin/") Imgbin
    block content
