extends ../layout

block content
  .container
    each img in imgs
      img(src="/imgbin/#{img.id}")
    form(action='', method='post', enctype='multipart/form-data')
      input(name='file' type='file' accept="image/*")
      input(type='submit')
