extends ../layout

block content
  .container
    h1 create a new post
    form(method="post", action="/blog/")
      input.form-control(type="text", name="title", placeholder="Title here", value='')
      textarea.form-control(rows='10' name="body", placeholder="Content here") #{post_body}
      button.btn.btn-default(type="submit") Post
      if error
        .alert.alert-danger= error 
